body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb;
    font-size: 1em;
}


hr {
    height: 1px;
    background-color: rgb(76, 142, 144);
    border: none;
}

h1 {
    font-size: 1.5em;
    padding: 5% 0;
    text-align: center;
    font-weight: bold;
}

@media screen and (min-width: 500px) {
h1 {
    font-size: 2em;
    padding: 0;
}
}

/* play area */
.icons { /* the container */
    text-align: center;
    margin: 0;
    padding: 0 0 15% 0;
}

@media screen and (min-width: 500px) {
.icons {
    text-align: center;
    margin: 0;
    padding: 0 0 3% 0;
}
}

@media screen and (min-width: 1200px) {
.icons {
    text-align: center;
    margin: 0;
    padding: 0;
}
}

.move { /* the buttons */
    background-color: rgb(222, 247, 247);
    border: none;
    width: 30%;
    padding: 0 10px;
    color: rgb(222, 247, 247);
    line-height: 3em;
}

@media screen and (min-width: 500px) {
.move { /* the buttons */
    border: none;
    width: 30%;
    padding: 0 10px;
    line-height: 6em;
}
}

@media screen and (min-width: 1200px) {
.move { /* the buttons */
    border: none;
    width: 20%;
    padding: 0;
    line-height: 6em;
}
}


.move:hover {
    background-color: rgb(195, 238, 239);
    color: rgb(195, 238, 239);
}

.move:active {
    background-color: rgb(172, 220, 221);
    color: rgb(172, 220, 221);
}

/* The button backgound image settings */
.r {
  background-image: url("https://github.com/Faraja17/rps-game-js/blob/main/images/playerRock.png?raw=true' alt='hand rock");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20%;
}

.p {
  background-image: url("https://github.com/Faraja17/rps-game-js/blob/main/images/playerPaper.png?raw=true' alt='hand rock");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20%;
}

.s {
  background-image: url("https://github.com/Faraja17/rps-game-js/blob/main/images/playerScissors.png?raw=true' alt='hand rock");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20%;
}

.icon { /* image within the button */
    width: 60%;
}

@media screen and (min-width: 500px) {
.icon {
    width: 40%;
}
}

@media screen and (min-width: 1200px) {
.icon {
    width: 40%;
}
}

/* animation */
.animation { /* container */
    text-align: center;
    padding: 20% 0 10%;
    width: 100%;
}

@media screen and (min-width: 500px) {
.animation {
    text-align: center;
    padding: 8% 0 0;
    width: 100%;
}
}

@media screen and (min-width: 1200px) {
    .animation {
        text-align: center;
        padding: 4% 0 0;
        width: 100%;
    }
    }

.moves { /* game piece images */
    width: 25%;
}

@media screen and (min-width: 500px) {
.moves {
    width: 20%;
}
}

@media screen and (min-width: 1200px) {
.moves {
    width: 15%;
}
}

.openHand { /* bottom image */
    width: 40%;
}

@media screen and (min-width: 500px) {
.openHand {
    width: 35%;
}
}
@media screen and (min-width: 1200px) {
.openHand {
    width: 25%;
}
}

/* round winner and cumulative score */
.tracker {
    text-align: center;
}

.report {
    padding: 20% 0;
    font-size: 1.5em;
    font-weight: bold;
}

@media screen and (min-width: 500px) {
.report {
    font-size: 1.2em;
    padding: 0;
}
}

@media screen and (min-width: 1200px) {
.report {
    font-size: 2em;
    padding: 1%;
}
}

footer {
    text-align: center;
    font-size: small;
    padding: 5%;
}

@media screen and (min-width: 1200px) {
footer {
    text-align: center;
    font-size: small;
    padding: 0;
}
}