body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: rgb(121, 177, 178);
    font-size: 1em;
}

h1 {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

@media screen and (min-width: 300px) {
h1 {
    font-size: 1.5em;
}
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 2em;
    }
    }

/* play area */

/* play piece buttons */

.move {
    background-color: rgb(121, 177, 178);
    border: none;
    width: 16%;
    padding: 0
}
.move:hover {
    background-color: rgb(195, 238, 239);
}

.move:active {
    background-color: rgb(76, 142, 144);
}

.icons {
    text-align: center;
    margin: 0;
}

.icon {
    width: 60%;
}

@media screen and (min-width: 300px) {
    .icon {
        width: 40%;
    }
    }

@media screen and (min-width: 600px) {
.icon {
    width: 20%;
}
}


.play {
    text-align: center;
    padding: 0;
}

/* play button */
.shoot {
    font-weight: bold;
    font-size: .8em;
    margin: 0 auto;
    background-color: rgb(76, 142, 144);
    border: none;
    width: 250%;
}

@media screen and (min-width: 300px) {
.shoot {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 auto;
    background-color: rgb(76, 142, 144);
    border-color: rgb(0,0,0);
    width: 50%;
}
}

@media screen and (min-width: 600px) {
.shoot {
    font-weight: bold;
    font-size: 2em;
    margin: 0 auto;
    background-color: rgb(76, 142, 144);
    border-color: rgb(0,0,0);
    width: 50%;
}
}

.shoot:hover {
    background-color: rgb(195, 238, 239);
}

.shoot:active {
    background-color: rgb(121, 177, 178);
}

/* animation */
.animation {
    text-align: center;
    margin-top: 10%;
}

@media screen and (min-width: 400px) {
.animation {
    text-align: center;
    margin-top: 4%;
}
}
.moves {
    width: 15%;
}

.openHand {
    width: 25%;
}

/* round winner and cumulative score */
.tracker {
    text-align: center;
}

.report {
    margin: 0;
    font-size: .8em;
    font-weight: bold;
}

@media screen and (min-width: 300px) {
.report {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}
}

@media screen and (min-width: 600px) {
    .report {
        margin: 0;
        font-size: 2em;
        font-weight: bold;
    }
    }

footer {
    text-align: center;
    padding-top: 10%;
    font-size: small;
}